{
  "parserOptions": {
    "ecmaVersion": 2017
  },

  "globals": {
    "after": true,
    "before": true,
    "afterEach": true,
    "beforeEach": true,
    "describe": true,
    "it": true,
    "xit": true,
    "xdescribe": true
  },
  "rules": {
    "arrow-parens": 0,
    "no-unexpected-multiline": 2,
    "no-var": 2,
    "prefer-const": 2,
    "space-before-function-paren": [2, "always"],
    "space-before-blocks": [2, "always"]
  }
}
